* {
    margin: 0;
    padding: 0;
}

.m-product {
    display: flex;
    width: 100%;
    margin-top: 64px;
}

.list-product {
    flex: 4;
    display: flex;
    justify-content: space-around;
}

.m-blog-container {
    max-width: 1200px;
    margin: auto;
}

.m-list-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;

    color: #151515;
    margin-bottom: 42px;
    margin-top: 69px;
}

.m-list-blog h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.m-list-blog button {
    border: none;
    outline: none;

    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    background: #fff;
    width: 98px;
    height: 35px;
}

.slick-list-blog {
    padding-bottom: 66px;
    max-width: 1200px;
    margin: auto;
}

.slick_carousel img {
    width: 32px;
    height: 48px;
    z-index: 10;
}

.slick-slide>div {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 0px;
} 


